body{
  font-family: 'Courier Prime', monospace;
  text-align: center;
  width:60%;
  min-width: 400px;
  font-size: 25px;
  margin: auto;
  background-image: linear-gradient(#FFFFFF, #D3D3D3);
}

p {
  color:  black;
  font-size: 20px;
  text-align: left;
}

p2 {
  color:  black;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}
